

#container{
			width:900px;
			height:800px;
			margin:0 auto;
			background: url(../images/fog.jpg);
		    background-size:900px 700px;
}

#header{
			width:900px;
			height:100px;
			background:lightblue;
			text-align:center;
			color:blue;
}

#content{
			width:900px;
			height:700px;
}

#frmlayout{
			width:680px;
			height:600px;
			margin:40px auto;
			background:green;
			opacity:.8;
			border-radius:30px;
			
			
}

